h1 Timestamp Microservice!

p This is a timestamp microservice build as part of the backend development certification of FreeCodeCamp.
ol
li Here are the specific user stories you should implement for this project:

li User Story: I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).

li User Story: If it does, it returns both the Unix timestamp and the natural language form of that date.

li User Story: If it does not contain a date or Unix timestamp, it returns null for those properties.

li Once you've finished implementing these user stories, click the "I've completed this challenge" button and enter the URLs for both your GitHub repository and your live app running on Heroku.

li You can get feedback on your project by sharing it with your friends on Facebook.